body {
  background: #f6f6f6;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.pointer {
  cursor: pointer;
}
.bgWhite {
  background: #ffffff;
}

.m-view {
  display: none;
}


/** Navbar **/
#navbarResponsive ul li a {
  font-size: 15px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
}
.listProfil a {
  padding-left: 30px !important;
  padding-bottom: 5px !important;
  padding-top: 5px !important;
}
.borderbottom a.border {
  color: #1b5183;
  font-weight: 600;
  border-bottom: 1px solid #dddddd;
}
.menuTop .dropdown-list-alerts {
  width: 20rem!important;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 6px;
}
.menuTop .dropdown-list-alerts .dropdown-header {
  background: #194f82;
  color: #ffffff;
}
.formM {
  padding: 0px 13px;
  position: relative;
}
.formM input {
  padding-left: 30px;
}
.formM .iconinput {
  top: 9px;
  left: 24px;
  position: absolute;
}
.formM .iconinput i{
  color: #7e7e7e;
}
.navbarTheme {
  padding-top: 5px;
  padding-bottom: 5px;
  background: #194f82;
}
.navbarTheme button.navbar-toggler {
  margin-right: 11px;
}
.navbar-brand img {
  height: 35px;
}
.subNav {
  padding: 10px 0px;
  background: #ffffff;
  box-shadow: 2px 1px 7px #dddddd;
}
.subMenuNav ul {
  padding-left: 0px;
  overflow: hidden;
  margin-bottom: 0px;
}
.subMenuNav ul li{
  float: left;
  list-style: none;
  margin-right: 38px;
}
.subMenuNav ul li a{
  color: #6b6b6b;
  font-size: 15px;
}
.subMenuNav ul li a:hover{
  color: #194f82;
  text-decoration: none;
}
.iconNotif .icons{
  width: 45px;
  float: left;
  height: 45px;
  border-radius: 50%;
  text-align: center;
  margin-right: 20px;
  border: 1px solid #8ac3e9;
}
.iconNotif .icons i{
  top: 9px;
  color: #8ac3e9;
  position: relative;
}

.descNotif {
  padding: 15px;
  margin-bottom: 3rem;
  background: #def0f7;
}

.descNotif p{
  margin-bottom: 0px;
  color: #9a9a9a;
  line-height: 21px;
  font-size: 15px;
  padding-right: 35px;
}


.menuTop ul {
  padding-left: 0pc;
}
.menuTop ul li{
  float: left;
  list-style: none;
}
.menuTop ul li a{
  font-size: 15px;
  color: #ffffff;
  padding: .5rem .5rem;
}
.menuTop ul li a.dropdown-alert {
  border-bottom: 1px solid #e3e6f0;
}
.menuTop ul li a:hover{
  text-decoration: none;
}
.menuTop .no-arrow .dropdown-toggle::after {
  display: none;
}
.menuTop .menuDropdown li .dropdown-list a {
  color: #000000;
}
.menuTop .img-profile {
  height: 2rem;
    width: 2rem;
}
.menuTop .nav-item .nav-link .badge-counter {
  position: absolute;
  -webkit-transform: scale(.7);
  transform: scale(.7);
  -webkit-transform-origin: top right;
  transform-origin: top right;
  right: .25rem;
  margin-top: -.25rem;
  top: 15px;
  border-radius: 50%;
}
.input-group-append {
  position: absolute;
}
.pCustome {
  padding: 0px 8px;
}
.input-group-append i {
  color: #dddddd;
  position: relative;
  top: 10px;
  left: 10px;
}
.menuDropdown form {
  margin-right: 35px !important;
}
.menuTop ul li a i {
  position: relative;
    top: 5px;
}
.menuDropdown form input {
  padding-left: 30px;
  background:transparent;
  width: 350px !important;
  border-radius: 5px !important;
}

.menuDropdown form input::-webkit-input-placeholder {
  color: #dddddd;
  font-weight: normal;
}

.menuDropdown form input:focus {
  background:transparent;
}
.menuTop .no-arrow::after {
  display: none;
}

.headingList h2 {
  color: #1b5183;
}
.headingList p {
  margin-bottom: 0px;
}
.textRight p {
  margin-bottom: 0px;
}
.textRight p.bold {
  font-weight: 600;
  color: #4a4a4a;
  font-size: 14px;
}

.statistik h2 {
  font-size: 23px;
  color: #3a3a3a;
  margin-bottom: 25px;
}
.bgBoxStatistik {
  background: #ffffff;
  border-radius: 5px;
  padding: 10px;
  overflow: hidden;
  box-shadow: 1px 1px 7px #dddddd;
}
.descStatistik {
  float: right;
  text-align: center;
}
.bgBoxStatistik img{
  float: left;
  width: 80px;
}
.bgBoxStatistik span{
  font-size: 14px;
}
.bgBoxStatistik span em{
  font-size: 26px;
  font-style: normal;
}
.bgBoxStatistik span.green{
  color: #9acc55;
}
.bgBoxStatistik span.red{
  color: #ee3138;
}
.bgBoxStatistik span.grey{
  color: #7e7e7e;
}
.colPrice {
  background: #1075bd;
  padding: 15px;
  border-radius: 5px;
  color: #ffffff;
}
.colPrice .headPrice h2 {
  font-size: 24px;
}
.colPrice .listPrice .descPrice{
  overflow: hidden;
  margin-bottom: 4px;
  padding-bottom: 5px;
  border-bottom: 1px solid #63a4d3;
}
.colPrice .listPrice p{
  float: left;
  font-size: 15px;
  margin-bottom: 0px;
}
.colPrice .listPrice span{
  float: right;
  font-size: 14px;
}
.colPrice .listPrice .total p{
  font-weight: 600;
}
.colPrice .listPrice .total span{
  font-weight: 600;
}

.bgKupon {
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
  background-color: #ffffff;
}
.bgKupon .boxReferral h2 {
  color: #3a3a3a;
  font-size: 23px;
}
.bgKupon .boxReferral p {
  font-size: 14px;
  color: #717171;
}
.bgKupon .boxKupon h2 {
  color: #3a3a3a;
  font-size: 23px;
}
.bgKupon .boxKupon p {
  font-size: 14px;
  color: #717171;
}
.bgKupon .boxKupon .btnKupon .bgBtnKupon {
  padding: 8px;
  width: 200px;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  border-radius: 3px;
  background: #1075bd;
}
.formRef form input {
  width: 60%;
  float: left;
  border-radius: 5px 0px 0px 5px;
}
.formRef form button {
  width: 100px;
  background: #1075bd;
  border-color: #1075bd;
  border-radius: 0px 5px 5px 0px;
}

.bgListReferral {
  padding: 20px;
  background: #ffffff;
}
.bgListReferral .headListReferral h2 {
  color: #3a3a3a;
  font-size: 23px;
  margin-bottom: 25px;
}

.navbar-toggler i {
  color: #ffffff;
}
.textToday p {
  margin-bottom: 0px;
  padding-top: 25px;
}
@media only screen and (min-width : 481px) and (max-width : 768px) {
  .subMenuNav ul {
    overflow-y: scroll;
    display: flex;
    overflow: scroll;
  }
  .subMenuNav ul li {
    display: inline-grid;
  }
  .subMenuNav ul li a {
    width: 135px;
  }
  .menuTop {
    display: none;
  }
}


@media only screen and (min-width : 760px) and (max-width : 992px) {
  .subMenuNav ul li {
    margin-right: 19px;
  }
  .subMenuNav ul li a {
    font-size: 10px;
  }
  .menuTop {
    display: none;
  }
}

@media only screen and (min-width : 992px) and (max-width : 1040px) {
  .subMenuNav ul li {
    margin-right: 29px;
  }
  .subMenuNav ul li a {
    font-size: 13px;
  }
}


@media only screen and (min-width : 320px) and (max-width : 480px) {
  .menuTop {
    display: none;
  }
  .descNotif p {
    line-height: 18px;
    font-size: 13px;
  }
  .colPrice {
    margin-top: 30px;
  }
  .colPrice .listPrice p {
    font-size: 13px;
  }
  .colPrice .listPrice span {
    font-size: 13px;
  }
  .boxReferral {
    border-bottom: 1px solid #dddddd;
    margin-bottom: 22px;
    padding-bottom: 30px;
  }
  .bgBoxStatistik {
    margin-bottom: 15px;
  }
  .menuDropdown {
    display: none;
  }
  .subNav {
    padding: 15px 0px;
  }
  .subMenuNav ul {
    overflow-y: scroll;
    display: flex;
    overflow: scroll;
  }
  .subMenuNav ul li {
    display: inline-grid;
  }
  .subMenuNav ul li a {
    width: 135px;
  }
  .headingList {
    margin-bottom: 20px;
  }
  .headingList h2 {
    margin-bottom: 0px;
  }
  .textRight p.bold {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .pCustome {
    padding: 0px 15px;
  }
}
